<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/edit.css') }}">
</head>
<body>
    <div class="root">
       <div class="title">Edytuj zadanie</div>
       <div class="utilities">
        <a href="/add">Dodaj zadanie</a>
        <a href="{% if where_from=='task' %}/task?id={{taskinfo.id}}{% else %}/{% endif %}">Wróć</a>
       </div>
       <div class="tasks">

       </div>
    </div>
</body>
</html>
