<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podgląd zadania - {{taskinfo.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/task.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
</head>
<body>
    <div class="root">
       <div class="title">Podgląd zadania</div>
       <div class="utilities">
        <a href="/edit?id={{taskinfo.id}}&from=task">Edytuj</a>
        <a href="/del?id={{taskinfo.id}}">Usuń</a>
        <a href="/">Wróć</a>
       </div>
       <div class="tasks">
        <div class="task-details">
            <div class="task-details-title-bar">
                <div class="task-details-title-bar-complete">
                    <a href="{% if taskinfo.complete%}/setcomp0?id={{taskinfo.id}}&from=task{% else %}/setcomp1?id={{taskinfo.id}}&from=task{% endif %}"><div class="btn-complete" completed="{% if taskinfo.complete%}true{% else %}false{% endif %}">{% if taskinfo.complete %}&check;{% endif %}</div></a>
                </div>
                <div class="task-details-title-bar-text">{{taskinfo.title}}</div>
                <div class="task-details-title-bar-priority">
                    <span>Priorytet</span>
                    <span>{% if taskinfo.priority==1 %}Wysoki{% elif taskinfo.priority==2 %}Średni{% elif taskinfo.priority==3 %}Niski{% else %}{% endif %}</span>
                </div>
            </div>
            <div class="task-details-description">{{taskinfo.description}}</div>
        </div>
       </div>
    </div>
</body>
</html>
